*{
    margin: 0;
    padding: 0;

}
.container{
    /* position: relative; */
    width: 100%;
    height: 99vh;
    /* background-color: antiquewhite; */
}
.subconatiner{
    width: 60%;
    /* position: absolute; */
    margin: auto;
    height: 99vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width:35vw;
    height:35vw;
    position: relative;
    background-color: brown;
    border-radius: 50%;
    border: 1px solid green;
    background: url(./imges/clock.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    
}
.hours,.minutes,.seconds{
    position: absolute;
    background-color: black;
    height: 90px;
    width: 10px;
    border-radius: 4px;
    transform-origin: bottom;
}

.hours{
    left: 48.78%;
    top: 31%;
    height: 6vw;
    width: 0.7vw;

    /* display: none; */
}
.minutes{
    height: 10vw;
    width: 0.5vw;
    top: 22%;
    left: 49.1%;
    /* display: none; */
}
.seconds{
    height: 12vw;
    width: 0.2vw;
    top: 17%;
    left: 49.4%;
    /* display: none; */

}